.git
.gitignore
.gitmodules
.idea
.venv
.env
.env.*
**/__pycache__
**/*.pyc
*.egg-info
.pytest_cache
.ruff_cache
data/
index-store/
logs/
vectorstore/
docs/
MLops-Common/
k8s.yaml
Jenkinsfile
docker-compose.yml
infra/
deploy/